.myClass
{
    color: $brand-primary;
}

.green
{
    color: #6AD26A;
}

.red
{
    color: #F11539;
}

img
{
    max-width: 18rem;
    max-height: 30rem;
}

.header
{
    background-color: #4BA9E1;
    height: 20vh;
    color: white;
    span
    {
        line-height: 20vh;
        font-size: 40px;
    }
}

.log_table_portlet
{
    .portlet
    {
        .portlet_body
        {
            height: 20vh !important;
            overflow-y: scroll !important;
        }
        
    }
}

table
{
    background-color: white;
    th
    {
    
    }
    tr
    {
        height: 40px;
        border-bottom: 1px solid lightgrey;
    }
}

.content_container
{
    margin-top: 20px;
}

terra-toggle
{
    margin-left: 30px;
}