.myClass
{
    color: $brand-primary;
}

.green
{
    color: #6AD26A;
}

.red
{
    color: #F11539;
}

img
{
    max-width: 18rem;
    max-height: 30rem;
}

.header
{
    background-color: #2b2b2b;
    min-height: 20vh;
    color: white;
    span
    {
        line-height: 20vh;
        font-size: 40px;
    }
}

.log_table_portlet
{
    .portlet
    {
        .portlet_body
        {
            height: 20vh !important;
            overflow-y: scroll !important;
        }
        
    }
}

table
{
    background-color: white;
    border-radius: 3px;
    th
    {
    
    }
    tr
    {
        height: 40px;
        border-bottom: 1px solid lightgrey;
    }
}
.footer
{
    margin-top: 10vh;
    background-color: #2B2B2B;
    color: white;
    padding: 30px;
    img
    {
        height: 20vh;
        margin-right: 10px;
    }
}
.content_container
{
    margin-top: 20px;
}

terra-toggle
{
    margin-left: 30px;
}