<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-md-center header">
            <span>
                temperature surveillance center
            </span>
        </div>
    </div>
</div>
<div class="container content_container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/servers.png"
                     alt="Card image cap">
                <div class="card-body text-md-center">
                    <h4 class="card-title">Server Temp Control</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Status:</strong>
                        <span class="green" [class.red]="!isToggled">{{status}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Control service:</strong>
                        <terra-toggle [inputIcon]="'icon-active'"
                                      [inputTooltipText]="'manage service'"
                                      [(ngModel)]="isToggled"
                                      (ngModelChange)="setStatus()"
                                      [inputTooltipPlacement]="'right'">
                        </terra-toggle>
                    </li>
                    <li class="list-group-item">
                        <strong>Temperature:</strong>
                        <span>{{tempLogData[0].temperature}}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Air pressure:</strong>
                        <span>{{tempLogData[0].airPressure}}</span>
                    </li>
                </ul>
                <div class="card-body">
                
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <terra-portlet inputPortletHeader="Temperature monitor" [inputIsCollapsable]="true">
                <canvas baseChart
                        [data]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType">
                </canvas>
            </terra-portlet>
            <terra-portlet class="log_table_portlet" inputPortletHeader="Temperature log" [inputIsCollapsable]="true">
                <table style="width:100%">
                    <tr>
                        <th>Date</th>
                        <th>Temperature</th>
                        <th>Air pressure</th>
                    </tr>
                    <tr *ngFor="let tempLog of tempLogData">
                        <td>{{tempLog.date}}</td>
                        <td>{{tempLog.temperature}}</td>
                        <td>{{tempLog.airPressure}}</td>
                    </tr>
                </table>
            </terra-portlet>
        </div>
    </div>
</div>
<div *ngFor="let d of data">
    <p>{{d.temperature}}</p>
</div>
<div class="container-fluid">
    <div class="row footer">
        <div class="col-md-2">
            <h1>Contributions</h1>
            <p>Andre Salzmann</p>
            <p>Maximilian Röll</p>
            <p>Natascha Krägelius</p>
            <p>Yannic Fenn</p>
        </div>
        <div class="col-md-10">
            <img alt="angular2" src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.svg">
            <img alt="raspberry pi" src="https://cdn.worldvectorlogo.com/logos/raspberry-pi.svg">
            <img alt="bootstrap"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/1193px-Boostrap_logo.svg.png">
            <img alt="python"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/240px-Python-logo-notext.svg.png">
            <img alt="chart js" src="http://www.chartjs.org/img/chartjs-logo.svg">
            <img alt="github" src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg">
        </div>
    </div>
</div>
